fastapi==0.107.0
uvicorn[standard]
python-multipart
pydantic
opencv-python
numpy
librosa
soundfile
Pillow
matplotlib
torch
torchvision
torchaudio
lightning
open_clip_torch
huggingface_hub
fairseq
safetensors
pandas
albumentations
torchmetrics
wandb
tqdm
face-alignment
