fastapi
uvicorn[standard]
jinja2
python-multipart
pydantic
opencv-python
numpy
librosa
soundfile
Pillow
matplotlib
torch
torchvision
lightning
open_clip_torch
pandas
albumentations
torchmetrics
wandb
tqdm
