fastapi
uvicorn[standard]
jinja2
python-multipart
pydantic
opencv-python
numpy
librosa
soundfile
Pillow
matplotlib
torch
torchvision
torchaudio
lightning
open_clip_torch
huggingface_hub
fairseq
pandas
albumentations
torchmetrics
wandb
tqdm
